{% extends 'layout.html' %}
{% block body %}



<div class="shadow-lg" style="width: 80%; margin: 0 auto; background-color: white; padding: 0;">
    <header class="heading">
        <h1 style="font: bolder; font-size: 5rem; color: white;">Diagnosing Diseases with Computer Black Magic.<br>
            <span>
                <h3 style="margin: 25px 0;">Going Beyond ML Models | Team TOOBER<br>
                    <button style="margin: 35px 0; background-color:#edf0f1; color: black;">Free Preview</button>
                    <button style="margin: 35px 20px;">Register</button>
                </h3>
            </span>
        </h1>
    </header>
    <div class="container">
        <h1>This is home page</h1>
<a href="/home/diabetes">Diabetes in Women</a>
    </div>
<div style="height: 300px; width: auto; background-color: rgba(0,136,169,0.2);">

</div>

</div>
<div class="container">
    <h1>This is home page</h1>
    <a href="/home/diabetes">Diabetes in Women</a>
</div>


{% endblock %}
